body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container > div > h2{
    padding:16px;
    text-align: center;
}
.intro{
    background-color: #1d1c1c;
    color: white;
    margin: -16px;
    padding: 16px;
    text-align: center;
}
#profile-image {
    border-radius: 200px;
    height: 400px;
    width: 400px;
}
.social img{
    height:16px;
    width: 16px;
}
table, tr, td, th{
    border: 1px solid;
    border-collapse: collapse;
}
th,td{
    padding: 8px;
}
table{
    width:100%;
}
#about-me{
    margin:16px;
}
#dynamic-text {
    color: royalblue;
}