h1 {
    color: red;
    font-size: 100px;
}
img:hover{
    background-color: black; 
}
.bacon1 {
    background-color: red;
}

.bacon2{
    background-color: green;
}
#heading {
    color: blue;
}
.circle {
    border-radius: 100%;
}
